.title {
    text-align: center;
}

.title h3 {
    font-size: 28px;
    font-weight: bold;
    color: #2c3e50;
}

input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 8px;

    outline: none;
}

input:focus {
    border-color: #3498db;
}

button {
    cursor: pointer;
}

/* lista de cidades filtradas */
div>button {
    margin: 5px;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;

    background-color: #ecf0f1;
}

div>button:hover {
    background-color: #d0d7de;
}

/* cidades selecionadas */
.selected-city {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 10px;
    margin-top: 5px;

    background-color: #f5f5f5;
    border-radius: 6px;
}

/* botões principais */
.main-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 200px;
}

.main-actions button {
    flex: 1;

    padding: 10px;
    border: none;
    border-radius: 8px;

    background-color: #5f6061;
    color: white;
}

.main-actions button:hover {
    background-color: #2d2d2e;
}